<%-layout('main') -%>

<div class="container nabar-gab">
    <div class="row">
        <% for (var i = 0; i < products.length; i++) { %>
        <div class="col-md-4">
            <a href="/product/<%= products[i]._id %>">
                <div class="thumbnail">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="<%= products[i].image %> " alt="Card image cap">
                        <div class="block">
                              <h4><%= products[i].name %></h4>
                              <p><%= products[i].category.name %></p>
                              <p><%= products[i].price %></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% } %>
    </div>
</div>


